<!DOCTYPE html>
        <html>
            <head><title>Contact Us Page</title></head>
            <body>
                <h1>This is contact us page</h1>
                <h2> Please provide your details </h2>
                <form action = "/contact-us" method = "POST">
                <input type="text" name = "name" placeholder="enter your name"/>
                <input type="text" name = "email" placeholder="enter your email"/>
                <input type="submit"/>
                </form> 
            </body>
        </html>